{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>Ver Especie</h2>
            </div>

            <h4 style="text-align: center">{{ especie.categoria.nombre }}</h4>
            <img src="/static/media/{{ especie.foto }}" style="width:250px;height:210px; horizontal-aling:middle;">
            <h5><b>Nombre científico:</b> {{ especie.nombrecientifico }}</h5>
            <h5><b>Clasificación taxonomica:</b> {{ especie.clasificaciontaxonomica }}</h5>
            <h5><b>Nombre:</b> {{ especie.nombre }}</h5>
            <h5><b>Descripción:</b> {{ especie.descripcionlarga }}</h5>


            <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>

            <div class="page-header">
                <h2>Comentarios</h2>
            </div>
            {% for comentario in lista_comentarios %}
                <div style="float: left; padding:20px; width:360px; height:500px;">
                    <div style="float: left; padding:20px; width:295px; height:450px; border-style: solid; border-width: 1px; background-color: aliceblue">
                        <h5><b>Correo:</b> {{ comentario.correo }}</h5>
                        <h5><b>Comentario:</b> {{ comentario.texto }}</h5>
                    </div>
                </div>
            {% endfor %}
            <a href="{% url 'nuevoComentario' especie.id %}" class="btn btn-success">+</a>
        </div>
    </div>
{% endblock %}
</body>
</html>