{# Load the tag library #}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--jquery se requiere primero que bootstrap js-->
    {% load static %}
    <script type="text/javascript" src="{% static "jquery-3.1.1.js" %}"></script>

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <title>Detalle especie</title>
</head>
<body>
{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>Ver Especie</h2>
            </div>

            <h4 style="text-align: center">{{ especie.categoria.nombre }}</h4>
            <img src="/static/media/{{ especie.foto }}" style="width:250px;height:210px; horizontal-aling:middle;">
            <h5><b>Nombre científico:</b> {{ especie.nombrecientifico }}</h5>
            <h5><b>Clasificación taxonomica:</b> {{ especie.clasificaciontaxonomica }}</h5>
            <h5><b>Nombre:</b> {{ especie.nombre }}</h5>
            <h5><b>Descripción:</b> {{ especie.descripcionlarga }}</h5>


            <a href="{% url 'index' %}" class="btn btn-primary">Volver</a>

            <div class="page-header">
                <h2>Comentarios</h2>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Agregar comentario...
            </button>

            {% for comentario in lista_comentarios %}
                <div style="float: left; padding:20px; width:550px; height:170px;">
                    <div style="float: left; padding:20px; width:520px; height:150px; border-style: solid; border-width: 1px; background-color: aliceblue">
                        <h5><b>Correo:</b> {{ comentario.correo }}</h5>
                        <h5><b>Comentario:</b> {{ comentario.texto }}</h5>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}


{% block modal %}
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agregar Comentario</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-offset-3">
                                <div class="page-header">
                                    <h2>Nuevo Comentario especie: {{ ref_especie.nombre }}</h2>
                                </div>

                                {% bootstrap_form formComentario %}

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar comentario</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
{% endblock %}

</body>
</html>