{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Catálogo de Biodiversidad</title>
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/index.css" %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">Biodiversidad</a>
                </div>
                <form class="search-bar" action="{% url 'index' %}" method="POST">{% csrf_token %}
                    <div class="actions" style="text-align:left;">
                        <select name="categorias_combo" onChange="this.form.submit();">
                             <option>Seleccione categoría...</option>
                            {% for cat in lista_categorias %}
                                <option value="{{ cat.id }}">{{ cat.nombre }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary" type="submit" name="" value="">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </form>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="navbar navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><i class="material-icons">person</i><a href="{% url 'index' %}"> {{ user.username }} </a></li>
                            <li><a href="{% url 'modificarUsuario' %}">Editar perfil</a></li>
                            <li><a href="{% url 'cerrarSesion' %}">Cerrar Sesión</a></li>
                        {% else %}
                            <li><a href="{% url 'nuevoUsuario' %}">Registrarse</a></li>
                            <li><i class="material-icons">person</i><a class="" href="{% url 'iniciarSesion' %}">Iniciar Sesión</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main-container">
            <div class="main-container__title">Catalogo De Especies</div>
            <ul class="main-container__cards">
                {% for especie in lista_especies %}
                    <li class="main-container__card">
                        <img class="main-container__card-img" src="/static/media/{{ especie.foto }}">
                        <div class="main-container__card-name">{{ especie.categoria.nombre }}</div>
                        <div class="main-container__card-especie"><div class="label">Nombre</div> <div class="value">{{ especie.nombre }}</div></div>
                        <div class="main-container__card-description">{{ especie.descripcion }}</div>
                        <a class="btn btn-primary" href="{% url 'verEspecie' especie.id %}">Ver detalle</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>