{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>
{% block content %}
    <div class="row">
        <div class="col-md-4 col-sm-offset-4">
        {% if mensaje %}
            <div class="alert alert-danger">
                {{ mensaje }}
            </div>
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label" for="usuario">Nombre de usuario</label>
                <input type="text" id="usuario" name="usuario" class="form-control" value="{{ usuario }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" value="{{ password }}">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            <a href="{% url 'index' %}" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
    </div>
{% endblock content %}
</body>
</html>