{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comentario</title>
</head>
<body>

{% block content %}

    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>Nuevo Comentario especie: {{ ref_especie.nombre }}</h2>
            </div>

            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form formComentario %}
                {% buttons %}
                    <input type="submit" value="Crear" class="btn btn-primary"/>
                    <a href="{% url 'index' %}" class="btn btn-primary">Cancelar</a>
                {% endbuttons %}

            </form>
        </div>
    </div>
{% endblock %}

</body>
</html>